#myHeader {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    display: table;
    font-family: 'Raleway', sans-serif;
}

#myPic {
    width: 175px;
    height: auto;
}

figure {
    display: table-cell;
    vertical-align: middle;
}

figure img,
figure figcaption {
    display: inline-block;
}

main {
    height: 900px;
    background-color: #cec;
}