#myHeader {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    display: table;
    font-family: 'Raleway', sans-serif;
    line-height: 100vh;
    text-align: center;
}

#myPic {
    width: 175px;
    height: auto;
    box-sizing: border-box;
}

figure {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

figure figcaption {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}



main {
    height: 1200px;
    background-color: #cec;
}